* {
  box-sizing: border-box;
}
img {
  max-width: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.39);
}

.card {
 background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: content-box;
  width: 300px;
  padding: 10px;
}

.card-body {
  border: 1px solid rgba(137, 137, 137, 0.365);
  border-top: none;
  width: 300px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-title,
.card-text,
a {
  max-width: 300px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  /* padding: 0 5px 0 5px; */
}

.card-title {
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.card-text {
  margin-top: 5px;
  text-align: justify;
  line-height: 1.3;
}

a { 
  display: inline-block;
  text-decoration: none;
  background-color: rgb(177, 36, 121);
  color: aliceblue;
  padding: 5px 10px ;
  border-radius: 5px;
  margin-bottom: 15px;
  
}
